.toolbar{
    background-color: rgb(41, 11, 11);;
    position: fixed;
    top: 3em;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    width: 80vw;
    border-radius: 0.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.300);
    padding: 1em;
    color: white;
    
}

#home{
    background-color: crimson;
}

#home:hover{
    background-color: rgba(220, 20, 60, 0.466);
}

.links{
    display: flex;
    margin-bottom: 0;
}

.links a{
    margin: 0 2em 0 0;
    padding: 0.5em 1em;
    border-radius: 0.7em;
}

.links a:hover{
    background-color: rgba(192, 192, 192, 0.267);
}

#menuResp{
    display: none;
}


@media (max-width: 1050px){
    .toolbar{
        display: none;
    }

    #menuResp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menuResp h1{
        background-color: brown;
        color: white;
        max-width: fit-content;
        padding: 0.7em;
        margin: 0.5em auto;
        border-radius: 0.7em;
    }

    .botaoResp, .botaoResp img{
        width: 32px;
        height: 32px;
        border-radius: 0.7em;
        cursor: pointer;
        z-index: 1;
    }

    .botaoResp{
        position: fixed;
        top: 1em;
    }

    nav{
        display: flex;
        justify-content: center;
        position: relative;
        top: 3em;
    }
}