<div class="boas-vindas">
    <h2>O quarto adaptado para as pessoas modernas</h2>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis nostrum magnam aperiam eum, placeat reprehenderit nesciunt adipisci corporis! Magnam saepe, excepturi iure harum incidunt ullam quaerat voluptates hic culpa ratione?
    </p>
</div>

<article>
    <h2>Tenha uma experiência com o melhor da tecnologia e modernidade!</h2>

    <img src="../../../../assets/projeto_hotel_imagens/quartoModerno.jpg" alt="Quarto Moderno">

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quos sunt cupiditate beatae debitis harum quis nam animi a quaerat deserunt eius, aspernatur nostrum dicta praesentium, consectetur nobis quidem sint.
        Inventore quos cum laudantium est suscipit exercitationem eius. Reiciendis architecto natus, obcaecati eligendi rerum laboriosam consequatur corrupti mollitia, iste quo dolore suscipit. Quam id pariatur nemo consectetur debitis iusto assumenda?
        Labore, facilis neque doloremque vero exercitationem modi necessitatibus molestiae pariatur, minus quam maxime ex consequatur optio eos placeat odio porro similique, dicta numquam repellendus nulla architecto sapiente incidunt? Ab, ex!
        Quasi quidem earum veniam enim doloribus nemo fuga ipsum minima at ut nesciunt, voluptate, excepturi assumenda. Aperiam sint a animi, autem distinctio, cum culpa incidunt temporibus quia exercitationem, voluptas harum.
        Sunt, dicta? Aspernatur ullam velit asperiores delectus nisi quae explicabo eius perspiciatis repudiandae quos maiores aperiam nobis suscipit eaque, sequi maxime fugiat et, ut sit illum incidunt, impedit veniam voluptates?
        Vero libero distinctio quas facere quis sit optio eveniet iste, facilis deserunt sint reprehenderit velit? Aut quis minima deserunt obcaecati et magnam tempore perferendis nihil. Praesentium quasi officia quisquam enim.
        Numquam necessitatibus maxime nesciunt dolorum ratione. Tenetur iusto reprehenderit maxime incidunt, necessitatibus odio, in consequuntur eaque, deserunt fuga aliquid quo esse. Totam temporibus earum perspiciatis! Soluta corrupti magni repudiandae. Ipsa!
        Quibusdam quod ipsam repellendus corrupti consequuntur est natus officia, quisquam corporis eius harum beatae unde sapiente autem quam nulla maxime! Eius, similique eos voluptatem pariatur accusamus quisquam! Enim, delectus sunt!
        Nobis, similique natus? Velit nam, iste necessitatibus, ea placeat culpa voluptatibus rem doloremque debitis voluptate eligendi quas magni quasi molestias accusamus, ducimus cupiditate non. Ad possimus repudiandae iure dolores cupiditate.
        Quod magni est veniam nemo molestias possimus sequi enim, iure quisquam, velit dolorem assumenda perferendis! Sapiente reiciendis accusantium adipisci maxime est dolor voluptatem, sequi officiis tenetur. Maxime voluptatum excepturi deserunt!
    </p>
</article>