<section class="boas-vindas">
    <h2>Bem vindo ao melhor hotel!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo illum velit fuga est dicta quis tenetur harum possimus provident quia. Repellendus, hic commodi reiciendis deserunt quia unde voluptatum quaerat omnis?</p>
</section>

<section class="content">
    <h2 id="title">Escolha o seu tipo de quarto!</h2>

    <main>
        <article>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <a routerLink="../components/quartos/quarto-luxo">
                    <div class="card">
                        <div class="header">
                            <img class="d-block w-100" src="../../../../assets/projeto_hotel_imagens/quartoLuxo.jpg" alt="Imagem de Quarto de Luxo">
                        </div>
                        <div class="content">
                            <h2>QUARTO DE LUXO</h2>
                            <P>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cupiditate doloribus sunt ducimus illum tenetur? Fugit placeat, atque optio autem earum ex expedita aut iste ipsum minima aspernatur nobis. Doloribus!
                            </P>
                        </div>
                    </div>
                </a>
              </div>

              <div class="carousel-item">
                <a routerLink="/">
                    <div class="card">
                        <div class="header">
                            <img src="../../../../assets/projeto_hotel_imagens/quartoModerno.jpg" alt="Imagem de Quarto Moderno">
                        </div>
                        <div class="content">
                            <h2>QUARTO MODERNO</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quisquam libero dolor, quod iure odit nam accusantium veniam facilis. Sapiente nisi quas reiciendis cumque cupiditate, labore nam sequi. Ut, quis!
                            </p>
                        </div>
                    </div>
                </a>
              </div>
              <div class="carousel-item">
                <a routerLink="/">
                <div class="card">
                    <div class="header">
                        <img src="../../../../assets/projeto_hotel_imagens/dormitorio.jpg" alt="Imagem de Dormitório Simples">
                    </div>
                    <div class="content">
                        <h2>DORMITÓRIO SIMPLES</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas in voluptatibus autem ex hic rerum, ducimus omnis officiis sapiente ad! Voluptatum vel placeat autem maiores tempore eius, reprehenderit ut.
                        </p>
                    </div>
                </div>
                </a>
              </div>
              <div class="carousel-item">
                <a routerLink="/">
                    <div class="card">
                        <div class="header">
                            <img src="../../../../assets/projeto_hotel_imagens/quartoBasico.jpg" alt="Imagem de Quarto Básico">
                        </div>
                        <div class="content">
                            <h2>QUARTO SIMPLES</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quo culpa sapiente impedit itaque, soluta architecto repudiandae perferendis necessitatibus cum reprehenderit provident, quos magnam laudantium expedita dolor. Eius, nesciunt nemo?
                            </p>
                        </div>
                    </div>
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
        </div>

        </article>
    </main>

    <aside>
        <h2>Você encontrará aqui também:</h2>

        <div class="extras">
            <div class="bola-content">
                <div id="cafe" class="imgBola" title="Aproveite para conhecer nosso café da manhã"></div>
                <h3>Café da Manhã</h3>
            </div>
            
            <div class="bola-content">
                <div id="cha" class="imgBola" title="Aproveite para conhecer nosso Chá da Tarde"></div>
                <h3>Chá da Tarde</h3>
            </div>
            
            <div class="bola-content">
                <div id="massagem" class="imgBola" title="Aproveite para conhecer nossa Sala de Massagem"></div>
                <h3>Sala de Massagem</h3>
            </div>

            <div class="bola-content">
                <div id="restaurante" class="imgBola" title="Aproveite para conhecer nosso Restaurante"></div>
                <h3>Restaurante</h3>
            </div>

            <div class="bola-content">
                <div id="jantar" class="imgBola" title="Aproveite para conhecer nossa Sala de Jantar"></div>
                <h3>Sala de Jantar</h3>
            </div>
        </div>
    </aside>
</section>