<div class="boas-vindas">
    <h2>Conheça o seu quarto de luxo!</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt id, enim illo, atque officiis quas quisquam ad, doloribus quae fuga quidem? Maxime nisi amet delectus illum. Officia tempora dolor aspernatur?
    </p>
</div>

<article>
    <h2>A sofisticação, luxo e conforto que você quer</h2>

    <img src="../../../../assets/projeto_hotel_imagens/quartoLuxo.jpg" alt="Quarto de Luxo">

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis minima sit minus saepe velit in voluptas itaque aperiam quis? Aspernatur dignissimos quae et eius reiciendis deleniti recusandae veritatis excepturi atque!
        Possimus accusamus ab cum sunt voluptas repellendus, recusandae hic expedita beatae molestiae nulla. Unde molestias veniam ratione atque sunt, voluptatem excepturi, architecto sequi pariatur praesentium maiores similique accusamus dolores voluptates!
        Hic dolores maxime reprehenderit, corrupti similique, eius tempore sed quod tenetur harum aperiam vero doloremque, nihil nobis optio veritatis. Dolorum mollitia quas repudiandae. Aut tempora nihil, perferendis error dolores autem?
        Eius distinctio deleniti soluta iusto dolorum molestias sed laboriosam labore blanditiis praesentium voluptates odit illum consequatur quos facere voluptate cum nostrum mollitia, ex consequuntur. Tempora neque voluptates ipsam repudiandae odio?
        Explicabo odio quo consequatur ipsum vero consectetur sequi quidem earum saepe iure magni sit dicta libero dignissimos, alias ab expedita sint, qui tempore similique praesentium repellat. Enim labore voluptates minus?
        Quam nulla, veniam quaerat illo saepe odit ratione dolorem quia reiciendis ipsum vero quod reprehenderit repellendus excepturi, aut odio minus, inventore aspernatur eum velit! Unde asperiores quisquam expedita distinctio ipsa!
        Officia deleniti sequi assumenda enim. Laboriosam unde modi, molestias at, impedit nam vero molestiae, odio soluta tenetur ipsa veniam optio minima aut quae omnis. Assumenda veniam eius perspiciatis at praesentium.
        Temporibus eos eaque cupiditate. Natus iure, dignissimos doloremque, laudantium porro quisquam sapiente vero velit libero explicabo quasi nisi illum distinctio! Aperiam harum, fuga veniam dolores sequi quidem porro quae minima!
        Quasi, eius adipisci odio perspiciatis, tempore hic rem molestias at voluptatibus totam minus unde perferendis quia voluptates praesentium! Quos nesciunt doloribus aspernatur iure perferendis officia itaque, consequuntur similique temporibus eaque?
        Officiis, ut dignissimos? Voluptates provident voluptatem odio esse ab delectus magni distinctio similique debitis ut, ducimus est eius veritatis nihil iure aliquam inventore quos maxime facere, aspernatur rerum odit in.
        Quidem facilis earum, ipsa animi quaerat perferendis porro, commodi optio quos quisquam aliquam rerum et esse omnis provident nostrum error dolores! Quo officiis ex rerum error autem porro non consequuntur.
        Quae eveniet id quia exercitationem asperiores pariatur similique ipsam hic sunt perferendis suscipit nostrum placeat impedit nihil magnam, nisi tenetur consequuntur velit assumenda. Velit provident voluptatem itaque veniam impedit earum.
        Itaque tempora ducimus quia ipsum in enim vitae soluta similique atque voluptas minus laboriosam consequuntur dolorem cum nesciunt iure iste quaerat ipsa reiciendis dolore, id quae mollitia! Quaerat, nulla fuga!
</article>
