<section class="boas-vindas">
    <h2>Cadastre-se como um novo cliente!</h2>
</section>

<form>
    <p>
        <mat-form-field appearance="fill">
          <mat-label for="nome">Insira seu nome:</mat-label>
          <input matInput placeholder="Nome">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Insira seu email:</mat-label>
          <input matInput placeholder="abc@email.com">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label for="nome">Insira seu telefone:</mat-label>
          <input matInput placeholder="(xx) xxxxx-xxxx">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
            <mat-label>Selecione seu sexo</mat-label>
            <mat-select>
              <mat-option value="one">Homem</mat-option>
              <mat-option value="two">Mulher</mat-option>
            </mat-select>
          </mat-form-field>
      </p>

      <input type="submit" value="ENVIAR" id="enviar">
      <input type="reset" value="LIMPAR" id="limpar">
</form>