<div class="boas-vindas">
    <h2>Um quarto simples e elegante</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sit voluptatem, magnam numquam laborum, maxime in neque facilis ipsum nihil accusamus vero qui quasi corporis recusandae! Repudiandae dolores harum eum?
    </p>
</div>

<article>
    <h2>O nosso melhor custo benefício está aqui!</h2>
    
    <img src="../../../../assets/projeto_hotel_imagens/quartoBasico.jpg" alt="Quarto Simples">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita necessitatibus tempore nam rerum aliquid voluptatem harum amet quo sed eligendi accusantium deleniti molestiae minima sequi, et corrupti. Culpa, asperiores minima?
        Ipsum eius rem labore sunt doloremque eveniet facilis accusamus! Quis aspernatur voluptas voluptate sint quaerat repellendus nesciunt natus rem quia commodi deleniti debitis dolore incidunt nihil, molestiae accusamus voluptates minima.
        Nulla at ratione quae amet quam accusantium natus quod perferendis recusandae ipsam saepe debitis labore modi earum animi doloremque quidem, voluptates nesciunt architecto ab quaerat. Neque ex accusantium adipisci voluptas!
        Quisquam vel, ipsum mollitia dolores quam quo nostrum incidunt amet ipsa similique cumque. Ipsum hic amet ratione minima, minus atque labore porro, tempore odit totam, eveniet provident nobis iusto optio?
        Eius eaque voluptate possimus soluta corrupti. Id esse quos maiores totam in numquam incidunt vero consectetur magni. Culpa deleniti et eius totam id illo veniam repellat atque. Quae, minima architecto?
        Sit, quidem excepturi sint vitae esse ea. Illo omnis beatae voluptate itaque exercitationem temporibus! Facilis, facere! Aut reprehenderit deserunt aspernatur aliquid ducimus harum, voluptatum eligendi ad quas beatae esse. Ratione!
        At odit ipsa est repellat deserunt officiis tempora error nisi similique nobis! Reprehenderit praesentium numquam corrupti. Doloribus itaque dolorem excepturi odio, aperiam, aspernatur sint explicabo optio accusamus nisi distinctio ipsa!
        Sapiente aliquam a molestias modi, fugiat, culpa delectus vitae praesentium voluptates harum officiis saepe obcaecati expedita aspernatur iste, dolorum architecto consectetur necessitatibus laudantium maxime. Possimus non deleniti reiciendis at distinctio.
        Quos quisquam illo reiciendis. Nihil voluptate, sequi ab maiores laborum tempora nisi cumque praesentium numquam velit alias! Vitae illo est minus nihil aspernatur, adipisci ea modi alias nam sed ab.
        Quibusdam quasi tempore obcaecati, recusandae dicta fugiat sequi, sint reiciendis eos numquam praesentium temporibus voluptates libero eligendi. Debitis numquam quidem, ullam blanditiis itaque eligendi necessitatibus dolores reprehenderit eius, autem reiciendis?
    </p>
</article>
