<div class="boas-vindas">
    <h2>Um dormitório simples, mas confortável</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur, dolores consectetur id quo repellendus rem. Vel tempore provident error iure ipsa officiis minus nisi eos quia eveniet, illum beatae.
    </p>
</div>

<article>
    <h2>Está cansado da viagem e apenas quer um lugar bom e barato para dormir?</h2>

    <img src="../../../../assets/projeto_hotel_imagens/dormitorio.jpg" alt="dormitório">

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dignissimos blanditiis ipsa quis ut animi maxime perspiciatis harum velit ullam doloremque magni possimus eaque itaque, vero nisi non officiis dicta!
        Explicabo vero, iste laboriosam optio odit quidem ad, sunt illo corporis molestiae necessitatibus placeat esse repellat id repudiandae beatae et sint non. Commodi ratione cupiditate impedit nam labore est praesentium.
        Ratione corrupti dolores quia, ipsum maxime possimus, veritatis quae corporis nemo dignissimos autem distinctio aliquid. Sint cupiditate corporis recusandae quam sunt obcaecati tempora accusamus, perspiciatis tenetur. Ex, dolor eius. Blanditiis?
        Sunt, atque! A enim minima maxime obcaecati libero dolore voluptas sint alias sed nulla quos necessitatibus, itaque, quas facere. Laboriosam ratione magni necessitatibus ab excepturi ipsam, quos itaque illo quaerat.
        Dolorem earum aut impedit blanditiis voluptatibus laboriosam nesciunt facere sit, ea in dolores aspernatur unde dolorum quisquam consectetur ipsum porro. Aliquam porro inventore ullam fugiat sequi molestiae quae ipsa distinctio.
        Nesciunt repudiandae at suscipit aliquam! Nostrum ea nobis modi culpa ipsum pariatur esse quia, fugit, mollitia, cumque aut ex commodi repudiandae? Officia expedita ea error ut fugit accusamus eius atque?
        Nisi dolor repellendus reprehenderit quidem ipsum! Nisi perferendis fugiat incidunt quod dolores obcaecati, natus in, aperiam debitis est maxime qui error, voluptates ducimus cumque id quas exercitationem iusto ullam non!
        Quae sequi enim quibusdam repellat doloremque a, laudantium soluta possimus repudiandae dolorum, excepturi fugiat minus distinctio facilis pariatur iste. Vitae pariatur quo in? Repellendus minima, tempore suscipit numquam atque hic.
        Id iure distinctio eum accusamus ab quaerat voluptates sapiente vitae voluptatum aspernatur cumque voluptate officiis odit autem, inventore, debitis enim quibusdam veniam tempore? Nam aliquid id quidem quos corrupti porro.
        Odit nemo quisquam libero modi doloremque distinctio asperiores, assumenda pariatur hic eos, numquam ea voluptatum soluta incidunt. Quas, illum! Voluptatum hic, repudiandae animi ad ipsam quaerat nulla quae nihil modi.
    </p>
</article>
